# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
mgodatagen
build/
scripts/
# Test binary, build with `go test -c`
*.test
ROADMAP.md
# Benchmark results
bench*
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# vscode folder
.vscode
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
