name: Run tests

on: [ push, pull_request ]

env:
  go-version: 1.16

jobs:
  static_check:
    runs-on: ubuntu-18.04

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.go-version }}

      - name: Vet code
        run: go vet ./...

      - name: Lint code
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.35.2

  build:
    needs: static_check
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        mongodb-version: [4.0.22, 4.2.12, 4.4.4, 4.4.4-sharded]

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.go-version }}

      - name: Export env variables
        run: |
          echo "UBUNTU_VERSION=linux-x86_64-ubuntu$(lsb_release -r | tr -d '[:alpha:][:blank:][:punct:]')" >> $GITHUB_ENV
          echo "MONGO_VERSION=$( echo ${{ matrix.mongodb-version }} | tr -d '[:alpha:][=-=]')" >> $GITHUB_ENV

      - name: Download MongoDB
        run: |
          wget -q http://downloads.mongodb.org/linux/mongodb-$UBUNTU_VERSION-$MONGO_VERSION.tgz
          tar xzvf mongodb-$UBUNTU_VERSION-$MONGO_VERSION.tgz
          echo "$PWD/mongodb-$UBUNTU_VERSION-$MONGO_VERSION/bin" >> $GITHUB_PATH
          mkdir $PWD/db

      - name: Setup a sharded cluster
        if: contains(matrix.mongodb-version, 'sharded')
        run: |
          wget https://raw.githubusercontent.com/feliixx/mongodbShardedCluster/master/deploy.sh
          wget https://raw.githubusercontent.com/feliixx/mongodbShardedCluster/master/config.txt
          chmod +x deploy.sh
          ./deploy.sh config.txt $PWD/db

      - name: Setup a standalone db
        if: contains(matrix.mongodb-version, 'sharded') == false
        run: mongod --dbpath $PWD/db --logpath /dev/null --nojournal --fork

      - name: Run go tests
        run: ./test.sh

      - name: Full run
        run: |
          go build
          ./mgodatagen -f datagen/testdata/big.json

      - name: Export coverage result
        run: bash <(curl -s https://codecov.io/bash)
